<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPlace</title>
</head>
<body>
<div>
    <h2>Hello!</h2>
    <div>
        
        <a href="/user">Get user</a> <br>
        <a href="/repo">Get repo</a> <br>
        <a href="/pushFile">Push a file</a> <br>
        <a href="/logout">Logout</a>
    </div>


    <div style="width: 20%; float: left">
        <ul>
            <li>haha</li>
        </ul>
    </div>
    <div>
        <h3>hello</h3>
    </div>
</div>
</body>
</html>